<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Tienda Dawish</title>
		<link rel="stylesheet" href="../static/store/style.css">
	</head>
	<body>
		<header>
			<nav>
					<ul>
							<li>
								<a href="index.html">Inicio</a>
							</li>
							<li>
								<a href="index.html">Ropa feminina</a>
							</li>
							<li>
								<a href="index.html">Ropa Masculina</a>
							</li>
							<li>
								<a href="index.html">Ropa para niño</a>
							</li>
							<li>
								<a href="index.html">Ropa para niña</a>
							</li>
					</ul>
			</nav>
		</header>
	</body>
</html>
