<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Tienda Dawish</title>
		<link rel="stylesheet" href="../static/store/style.css">
	</head>
	<body>
		<header>
			<div title="Search bar" class="bar_search">
				<article class="bar_page">
					<div class="title_page"><h2>Dawish</h2></div>
					<input size="60" class="search_page" type="text" placeholder="Search from name, brand, category">
					<button class="button_search" type="button">Search</button>
				</article>	
			</div>
			<nav class="bar_status">
					<ul>
							<li>
								<a href="index.html">Start</a>
							</li>
							<li>
								<a href="index.html">Womenswear</a>
							</li>
							<li>
								<a href="index.html">Men's clothes</a>
							</li>
							<li>
								<a href="index.html">Boy clothes</a>
							</li>
							<li>
								<a href="index.html">Girl clothes</a>
							</li>
					</ul>
			</nav>
		</header>
		<section class="separator">
			<div title="Separator Brand" class="separator_brand">
				<hr><h2>Your favorite brands</h2><hr>
			</div>
			<div title="Separator favorite week" class="separator_week">
				<hr><h2>Your favorite of the week</h2><hr>
			</div>
			<div title="Separator article" class="separator_article">
				<hr><h2>If you want ¡you can!</h2><hr>
			</div>
			<p class="text_favorite">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sit amet augue sed libero porttitor laoreet eu vitae lacus. Maecenas est dui, congue vitae sapien in, consectetur semper sem. Cras quis mollis eros. Aenean ullamcorper aliquam mi ac vehicula. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Donec at tempor nisi, quis commodo ligula. Mauris egestas nec dui at efficitur. Proin volutpat congue tempor. Pellentesque lorem mi, posuere varius urna id, ultrices viverra augue.
			</p>
		</section>
		<footer title="Contact">
			<form method="POST">
				<div class="contact">
					<label>Contact:</label>
					<input type="email" placeholder="!Write email here!">
					<button type="submit">I'm Women</button>
					<button type="submit">I'm Man</button>
				</div>
			</form>	
		</footer>
	</body>
</html>
